USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[EXCEL_OUTPUT_KVK_TARGETS_10]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCEL_OUTPUT_KVK_TARGETS_10](
	[Rank] [int] NULL,
	[RANK2] [int] NULL,
	[Gov_ID] [bigint] NULL,
	[Governor_Name] [nvarchar](100) NULL,
	[Power] [nvarchar](100) NULL,
	[City Hall] [int] NULL,
	[Troops Power] [nvarchar](100) NULL,
	[Tech Power] [nvarchar](100) NULL,
	[Building Power] [nvarchar](100) NULL,
	[Commander Power] [nvarchar](100) NULL,
	[Kill_Target] [int] NULL,
	[Minimum_Kill_Target] [int] NULL,
	[Dead_Target] [int] NULL,
	[DKP Target] [int] NULL,
	[Kills KVK 9] [int] NULL,
	[DEADS KVK 9] [int] NULL,
	[DKP KVK 9] [int] NULL,
	[% DKP Target KVK 9] [float] NULL,
	[Kills KVK 8] [int] NULL,
	[DEADS KVK 8] [int] NULL,
	[DKP KVK 8] [int] NULL,
	[% DKP Target KVK 8] [float] NULL
) ON [PRIMARY]
GO
