USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[vDaily_Helps]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vDaily_Helps]
AS
WITH DayEnd AS (
    SELECT
        ks.GovernorID,
        ks.GovernorName,
        ks.Alliance,
        ks.AsOfDate,
        ks.Helps,
        ROW_NUMBER() OVER (
            PARTITION BY ks.GovernorID, ks.AsOfDate
            ORDER BY ks.SCANORDER DESC
        ) AS rn
    FROM dbo.KingdomScanData4 AS ks WITH (NOLOCK)
),
Base AS (
    SELECT GovernorID, GovernorName, Alliance, AsOfDate, Helps
    FROM DayEnd
    WHERE rn = 1
),
LatestDate AS (
    SELECT MAX(AsOfDate) AS LatestDate FROM Base
),
WithPrev AS (
    SELECT
        b.*,
        LAG(b.Helps) OVER (PARTITION BY b.GovernorID ORDER BY b.AsOfDate) AS PrevHelps
    FROM Base b
)
SELECT
    wp.AsOfDate,
    wp.GovernorID,
    wp.GovernorName,
    wp.Alliance,
    (wp.Helps - ISNULL(wp.PrevHelps, 0)) AS HelpsDelta,
    wp.Helps                            AS Helps_Current,
    NULLIF(wp.PrevHelps, 0)             AS Helps_Prior
FROM WithPrev wp
CROSS JOIN LatestDate ld
WHERE wp.AsOfDate = ld.LatestDate
  AND (wp.Helps - ISNULL(wp.PrevHelps, 0)) > 0;

GO
