USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[ALL_GOVS_ALLIANCES]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALL_GOVS_ALLIANCES](
	[GovernorID] [float] NOT NULL,
	[Alliance] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
