USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[stg_RallyDaily]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_RallyDaily](
	[AsOfDate] [date] NOT NULL,
	[GovernorID] [bigint] NOT NULL,
	[GovernorName] [nvarchar](120) NULL,
	[TotalRallies] [int] NOT NULL,
	[RalliesLaunched] [int] NOT NULL,
	[RalliesJoined] [int] NOT NULL
) ON [PRIMARY]
GO
