USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[v_PlayerFortsLatest]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_PlayerFortsLatest] AS
WITH L AS (
  SELECT *,
         ROW_NUMBER() OVER (PARTITION BY GovernorID ORDER BY SnapshotAt DESC) AS rn
  FROM dbo.PlayerFortsHistory WITH (NOLOCK)
)
SELECT GovernorID, FortsStarted, FortsJoined, FortsTotal, SnapshotAt
FROM L
WHERE rn = 1;
GO
