USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[vAllianceActivity_DailyDelta]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vAllianceActivity_DailyDelta]
AS
SELECT
    d.AsOfDate                      AS DeltaDateUtc,         -- <- embed uses this name
    d.GovernorID,
    g.GovernorName,
    d.BuildDonations                AS BuildingDelta,
    d.TechDonations                 AS TechDonationDelta
FROM dbo.AllianceActivityDaily AS d WITH (NOLOCK)
LEFT JOIN dbo.v_GovernorNames   AS g WITH (NOLOCK) ON g.GovernorID = d.GovernorID;
GO
