USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[PlayerKVKHistory]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerKVKHistory](
	[GovernorID] [bigint] NOT NULL,
	[KVK_NUMBER] [int] NOT NULL,
	[KVK_KILL_RANK] [int] NULL,
	[KillPercent] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[GovernorID] ASC,
	[KVK_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
