USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[P6D]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P6D](
	[GovernorID] [float] NOT NULL,
	[POWERDelta6Months] [float] NULL
) ON [PRIMARY]
GO
