USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[RALLY_STARTED_TABLE]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RALLY_STARTED_TABLE](
	[GovernorID] [float] NOT NULL,
	[RALLY_STARTED] [int] NULL
) ON [PRIMARY]
GO
