USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[vAllianceActivity_WeeklyCumulative]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vAllianceActivity_WeeklyCumulative]
AS
WITH W AS (
    SELECT
        WeekStartUtc,
        GovernorID,
        GovernorName,
        AllianceTag,
        BuildingDeltaWeek,
        TechDonationDeltaWeek
    FROM dbo.vAllianceActivity_WeeklyDelta
)
SELECT
    WeekStartUtc,
    GovernorID,
    GovernorName,        -- name/tag as of this week (from the weekly row)
    AllianceTag,
    SUM(BuildingDeltaWeek)     OVER (
        PARTITION BY GovernorID
        ORDER BY WeekStartUtc
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    ) AS BuildingCumulative,
    SUM(TechDonationDeltaWeek) OVER (
        PARTITION BY GovernorID
        ORDER BY WeekStartUtc
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    ) AS TechDonationCumulative
FROM W;
GO
