USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[Test_csv_table]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_csv_table](
	[FileName] [varchar](max) NULL,
	[PowerSum] [float] NULL,
	[Date_Scanned] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
