USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[SCAN_LIST]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCAN_LIST](
	[SCANORDER] [float] NOT NULL,
	[ScanDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
