USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[LATEST_T4_KILLS]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LATEST_T4_KILLS](
	[GovernorID] [float] NOT NULL,
	[GovernorName] [nchar](255) NULL,
	[POWERRank] [float] NOT NULL,
	[T4_KILLS] [float] NOT NULL
) ON [PRIMARY]
GO
