USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[AllianceActivitySnapshotRow]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllianceActivitySnapshotRow](
	[SnapshotId] [bigint] NOT NULL,
	[GovernorID] [bigint] NOT NULL,
	[GovernorName] [nvarchar](64) NULL,
	[AllianceTag] [nvarchar](16) NULL,
	[Power] [bigint] NULL,
	[KillPoints] [bigint] NULL,
	[HelpTimes] [int] NULL,
	[RssTrading] [bigint] NULL,
	[BuildingTotal] [int] NOT NULL,
	[TechDonationTotal] [int] NOT NULL,
 CONSTRAINT [PK_AllActRow] PRIMARY KEY CLUSTERED 
(
	[SnapshotId] ASC,
	[GovernorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AllianceActivitySnapshotRow]  WITH CHECK ADD FOREIGN KEY([SnapshotId])
REFERENCES [dbo].[AllianceActivitySnapshotHeader] ([SnapshotId])
GO
