USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[EXCEL_EXPORT_KVK_TARGETS_7]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCEL_EXPORT_KVK_TARGETS_7](
	[Rank] [bigint] NULL,
	[Gov_ID] [float] NOT NULL,
	[Governor_Name] [nvarchar](255) NULL,
	[Power] [nvarchar](4000) NULL,
	[City Hall] [float] NULL,
	[Troops Power] [nvarchar](4000) NULL,
	[Tech Power] [nvarchar](4000) NULL,
	[Building Power] [nvarchar](4000) NULL,
	[Commander Power] [nvarchar](4000) NULL,
	[BLANK1] [varchar](1) NOT NULL,
	[Kill Target] [int] NULL,
	[Minimum Kill Target] [int] NULL,
	[Dead Target] [int] NULL,
	[DKP Target] [int] NULL,
	[BLANK2] [varchar](1) NOT NULL,
	[Kills Mar25 KVK] [float] NULL,
	[DEADS Mar25 KVK] [float] NULL,
	[DKP Mar25 KVK] [float] NULL,
	[% DKP Target Mar25 KVK] [float] NULL,
	[BLANK3] [varchar](1) NOT NULL,
	[Kills Jan25 KVK] [float] NULL,
	[DEADS Jan25 KVK] [float] NULL,
	[DKP Jan25 KVK] [float] NULL,
	[% DKP Target Jan25 KVK] [float] NULL
) ON [PRIMARY]
GO
