USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[RallyData_Raw]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RallyData_Raw](
	[id] [bigint] NULL,
	[alliance_tag] [varchar](10) NULL,
	[governor_id] [bigint] NULL,
	[governor_name] [nvarchar](100) NULL,
	[governor_location_x] [int] NULL,
	[governor_location_y] [int] NULL,
	[target_location_x] [int] NULL,
	[target_location_y] [int] NULL,
	[target_type] [nvarchar](50) NULL,
	[target_level] [int] NULL,
	[primary_commander] [nvarchar](100) NULL,
	[secondary_commander] [nvarchar](100) NULL,
	[launched] [varchar](10) NULL,
	[cancelled] [varchar](10) NULL,
	[start_time] [varchar](30) NULL,
	[end_time] [varchar](30) NULL,
	[hit_time] [bigint] NULL,
	[hit_time_pretty] [varchar](30) NULL,
	[launch_time] [varchar](30) NULL,
	[governors] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
