USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[K4ALL]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[K4ALL](
	[GovernorID] [float] NOT NULL,
	[GovernorName] [nchar](255) NULL,
	[T4_KILLS] [float] NOT NULL,
	[ScanDate] [datetime] NOT NULL,
	[RowAscALL] [bigint] NULL,
	[RowDescALL] [bigint] NULL
) ON [PRIMARY]
GO
