USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[DEADSSUMMARY]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEADSSUMMARY](
	[GovernorID] [float] NOT NULL,
	[GovernorName] [nchar](255) NULL,
	[PowerRank] [float] NOT NULL,
	[DEADS] [float] NOT NULL,
	[StartingDEADS] [float] NULL,
	[OverallDEADSDelta] [float] NULL,
	[DEADSDelta12Months] [float] NULL,
	[DEADSDelta6Months] [float] NULL,
	[DEADSDelta3Months] [float] NULL
) ON [PRIMARY]
GO
