USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[LATEST_GOVERNORNAME]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LATEST_GOVERNORNAME](
	[GovernorID] [float] NOT NULL,
	[TRIM_NAME] [nvarchar](255) NULL,
	[GovernorName] [nchar](255) NULL,
	[SCANORDER] [float] NOT NULL
) ON [PRIMARY]
GO
