USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[v_PreKvk13_All]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_PreKvk13_All] AS
SELECT sc.GovernorID,
       sc.GovernorName,
       s.ScanTimestampUTC,
       sc.Points
FROM dbo.PreKvk_Scores sc
JOIN dbo.PreKvk_Scan s
  ON s.KVK_NO = sc.KVK_NO AND s.ScanID = sc.ScanID
WHERE sc.KVK_NO = 13;
GO
