USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[PreKvk_Phases]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreKvk_Phases](
	[KVK_NO] [int] NOT NULL,
	[Phase] [tinyint] NOT NULL,
	[PhaseName] [nvarchar](40) NOT NULL,
	[StartUTC] [datetime2](0) NOT NULL,
	[EndUTC] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_PreKvk_Phases] PRIMARY KEY CLUSTERED 
(
	[KVK_NO] ASC,
	[Phase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
