USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[D3]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D3](
	[GovernorID] [float] NOT NULL,
	[DEADS] [float] NOT NULL,
	[ScanDate] [datetime] NOT NULL,
	[RowAsc3] [bigint] NULL,
	[RowDesc3] [bigint] NULL
) ON [PRIMARY]
GO
