USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[PowerSplit]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PowerSplit](
	[Governor ID] [float] NULL,
	[Governor Name] [nvarchar](255) NULL,
	[Power] [float] NULL,
	[Troops Power] [float] NULL,
	[Alliance] [nvarchar](255) NULL,
	[T1-Kills] [float] NULL,
	[T2-Kills] [float] NULL,
	[T3-Kills] [float] NULL,
	[T4-Kills] [float] NULL,
	[T5-Kills] [float] NULL,
	[Total Kill Points] [float] NULL,
	[Dead Troops] [float] NULL,
	[Rss Assistance] [float] NULL,
	[Alliance Helps] [float] NULL,
	[Rss Gathered] [float] NULL,
	[City Hall] [float] NULL,
	[Tech Power] [float] NULL,
	[Building Power] [float] NULL,
	[Commander Power] [float] NULL,
	[updated_on] [nvarchar](255) NULL
) ON [PRIMARY]
GO
