USE [ROK_TRACKER]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_StatsWindowDeltas_GovCsv]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_StatsWindowDeltas_GovCsv]
(
    @WindowStartUtc datetime2,
    @WindowEndUtc   datetime2,
    @GovCsv         nvarchar(max)
)
RETURNS TABLE
AS
RETURN
WITH Ids AS (
    SELECT TRY_CAST(value AS int) AS GovernorID
    FROM STRING_SPLIT(@GovCsv, ',')
    WHERE value IS NOT NULL AND LTRIM(RTRIM(value)) <> ''
),
W AS (  -- rows inside window
    SELECT d.*
    FROM dbo.vDaily_PlayerExport d WITH (NOLOCK)
    WHERE d.GovernorID IN (SELECT GovernorID FROM Ids)
      AND d.AsOfDate BETWEEN CAST(@WindowStartUtc AS date) AND CAST(@WindowEndUtc AS date)
),
LastSnap AS ( -- last snapshot at or before window end
    SELECT d.GovernorID, MAX(d.AsOfDate) AS LastDate
    FROM dbo.vDaily_PlayerExport d WITH (NOLOCK)
    WHERE d.GovernorID IN (SELECT GovernorID FROM Ids)
      AND d.AsOfDate <= CAST(@WindowEndUtc AS date)
    GROUP BY d.GovernorID
),
LastVals AS (
    SELECT
        d.GovernorID,
        d.Power         AS PowerEnd,
        d.TroopPower    AS TroopPowerEnd,
        d.KillPoints    AS KillPointsEnd,
        d.Deads         AS DeadsEnd,
        d.RSS_Gathered  AS RSSGatheredEnd,
        d.RSSAssist    AS RSSAssistEnd,
        d.Helps         AS HelpsEnd
    FROM dbo.vDaily_PlayerExport d WITH (NOLOCK)
    JOIN LastSnap ls
      ON ls.GovernorID = d.GovernorID AND ls.LastDate = d.AsOfDate
),
Agg AS (  -- sum deltas & daily counts across window
    SELECT
        w.GovernorID,
        SUM(COALESCE(w.PowerDelta,0))          AS PowerDelta,
        SUM(COALESCE(w.TroopPowerDelta,0))     AS TroopPowerDelta,
        SUM(COALESCE(w.KillPointsDelta,0))     AS KillPointsDelta,
        SUM(COALESCE(w.DeadsDelta,0))          AS DeadsDelta,
        SUM(COALESCE(w.RSS_GatheredDelta,0))   AS RSSGatheredDelta,
        SUM(COALESCE(w.RSSAssistDelta,0))      AS RSSAssistDelta,
        SUM(COALESCE(w.HelpsDelta,0))          AS HelpsDelta,
        SUM(COALESCE(w.BuildingMinutes,0))     AS BuildingMinutesDelta,
        SUM(COALESCE(w.TechDonations,0))       AS TechDonationsDelta,
        SUM(COALESCE(w.FortsTotal,0))          AS FortsTotal,
        SUM(COALESCE(w.FortsLaunched,0))       AS FortsLaunched,
        SUM(COALESCE(w.FortsJoined,0))         AS FortsJoined
    FROM W w
    GROUP BY w.GovernorID
)
SELECT
    a.GovernorID,
    lv.PowerEnd, lv.TroopPowerEnd, lv.KillPointsEnd, lv.DeadsEnd,
    lv.RSSGatheredEnd, lv.RSSAssistEnd, lv.HelpsEnd,
    a.PowerDelta, a.TroopPowerDelta, a.KillPointsDelta, a.DeadsDelta,
    a.RSSGatheredDelta, a.RSSAssistDelta, a.HelpsDelta,
    a.BuildingMinutesDelta, a.TechDonationsDelta,
    a.FortsTotal, a.FortsLaunched, a.FortsJoined
FROM Agg a
LEFT JOIN LastVals lv ON lv.GovernorID = a.GovernorID;
GO
