USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[D3D]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D3D](
	[GovernorID] [float] NOT NULL,
	[DEADSDelta3Months] [float] NULL
) ON [PRIMARY]
GO
