USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[D12D]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D12D](
	[GovernorID] [float] NOT NULL,
	[DEADSDelta12Months] [float] NULL
) ON [PRIMARY]
GO
