USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[DALL]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DALL](
	[GovernorID] [float] NOT NULL,
	[GovernorName] [nchar](255) NULL,
	[DEADS] [float] NOT NULL,
	[ScanDate] [datetime] NOT NULL,
	[RowAscALL] [bigint] NULL,
	[RowDescALL] [bigint] NULL
) ON [PRIMARY]
GO
