USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[KILL4SUMMARY]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KILL4SUMMARY](
	[GovernorID] [float] NOT NULL,
	[GovernorName] [nchar](255) NULL,
	[POWERRank] [float] NOT NULL,
	[T4_KILLS] [float] NOT NULL,
	[StartingT4_KILLS] [float] NULL,
	[OverallT4_KILLSDelta] [float] NULL,
	[T4_KILLSDelta12Months] [float] NOT NULL,
	[T4_KILLSDelta6Months] [float] NOT NULL,
	[T4_KILLSDelta3Months] [float] NOT NULL
) ON [PRIMARY]
GO
