USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[PlayerAccountStatus]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerAccountStatus](
	[GovernorID] [bigint] NOT NULL,
	[GovernorName] [nvarchar](200) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[AccountType] [nvarchar](10) NOT NULL,
	[Main_GovernorID] [bigint] NULL,
	[Role] [nvarchar](200) NULL,
 CONSTRAINT [PK_PlayerAccountStatus] PRIMARY KEY CLUSTERED 
(
	[GovernorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PlayerAccountStatus] ADD  CONSTRAINT [DF_PlayerAccountStatus_Status]  DEFAULT (N'Fighter') FOR [Status]
GO
ALTER TABLE [dbo].[PlayerAccountStatus] ADD  CONSTRAINT [DF_PlayerAccountStatus_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[PlayerAccountStatus] ADD  CONSTRAINT [DF_PlayerAccountStatus_AccountType]  DEFAULT ('Main') FOR [AccountType]
GO
ALTER TABLE [dbo].[PlayerAccountStatus]  WITH CHECK ADD  CONSTRAINT [FK_PlayerAccountStatus_MainGovernor] FOREIGN KEY([Main_GovernorID])
REFERENCES [dbo].[PlayerAccountStatus] ([GovernorID])
GO
ALTER TABLE [dbo].[PlayerAccountStatus] CHECK CONSTRAINT [FK_PlayerAccountStatus_MainGovernor]
GO
ALTER TABLE [dbo].[PlayerAccountStatus]  WITH CHECK ADD  CONSTRAINT [CK_PlayerAccountStatus_AccountType] CHECK  (([AccountType]=N'Bank' OR [AccountType]=N'Farm' OR [AccountType]=N'Alt' OR [AccountType]=N'Main'))
GO
ALTER TABLE [dbo].[PlayerAccountStatus] CHECK CONSTRAINT [CK_PlayerAccountStatus_AccountType]
GO
ALTER TABLE [dbo].[PlayerAccountStatus]  WITH CHECK ADD  CONSTRAINT [CK_PlayerAccountStatus_Status] CHECK  (([Status]=N'Fighter' OR [Status]=N'Farm' OR [Status]=N'Migrate' OR [Status]=N'Power Down' OR [Status]=N'Offline' OR [Status]=N'Exempt' OR [Status]=N'Alt'))
GO
ALTER TABLE [dbo].[PlayerAccountStatus] CHECK CONSTRAINT [CK_PlayerAccountStatus_Status]
GO
