USE [ROK_TRACKER]
GO
/****** Object:  UserDefinedTableType [dbo].[NVarCharList]    Script Date: 13/11/2025 16:55:36 ******/
CREATE TYPE [dbo].[NVarCharList] AS TABLE(
	[Value] [nvarchar](50) NOT NULL
)
GO
