USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[EXCEL_OUTPUT_KVK_TARGETS_MAR25]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCEL_OUTPUT_KVK_TARGETS_MAR25](
	[Rank] [float] NOT NULL,
	[RANK2] [bigint] NULL,
	[Gov_ID] [float] NOT NULL,
	[Governor_Name] [nchar](255) NULL,
	[Power] [nvarchar](4000) NULL,
	[Kill Target] [int] NULL,
	[Minimum Kill Target] [int] NULL,
	[Dead Target] [int] NULL,
	[DKP Target] [int] NULL,
	[Kills_for_Jan25 KVK] [float] NULL,
	[DEADS_for_Jan25 KVK] [float] NULL,
	[DKP_For_Jan25_KVK] [float] NULL,
	[% of DKP Target For Jan25 KVK] [float] NULL,
	[Kills_for_Sept24 KVK] [float] NULL,
	[DEADS_for_Sept24 KVK] [float] NULL,
	[DKP_For_Sept24_KVK] [float] NULL,
	[% of DKP Target For Sept24 KVK] [float] NULL
) ON [PRIMARY]
GO
