USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[LogHealthSamples]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogHealthSamples](
	[sample_utc] [datetime2](0) NOT NULL,
	[used_percent] [float] NULL,
	[reuse_wait_desc] [nvarchar](60) NULL,
	[recovery_model] [nvarchar](60) NULL,
	[last_full_backup] [datetime2](0) NULL,
	[last_log_backup] [datetime2](0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LogHealthSamples] ADD  DEFAULT (sysutcdatetime()) FOR [sample_utc]
GO
