USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[v_RallyDaily_Latest]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_RallyDaily_Latest]
AS
SELECT d.*
FROM dbo.cur_RallyDaily AS d
WHERE d.AsOfDate = (SELECT MAX(AsOfDate) FROM dbo.cur_RallyDaily);
GO
