USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[TEMPSUM]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMPSUM](
	[GovernorID] [float] NULL,
	[KP] [float] NULL,
	[ScanDate] [datetime] NULL
) ON [PRIMARY]
GO
