USE [ROK_TRACKER]
GO
/****** Object:  StoredProcedure [dbo].[sp_RefreshInactiveGovernors]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RefreshInactiveGovernors]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Optional: Log the start of execution
        INSERT INTO SP_ExecutionLog (ProcedureName, Status, StartTime)
        VALUES ('sp_RefreshInactiveGovernors', 'Started', GETDATE());

        -- Step 1: Clear existing inactive governors
        TRUNCATE TABLE INACTIVE_GOVERNORS;

        -- Step 2: Insert new inactive governors
        INSERT INTO INACTIVE_GOVERNORS (GovernorID, GovernorName, [Power], Inactive_Date, [Status])
        SELECT 
            latest.GovernorID,
            RTRIM(ks.GovernorName) AS [GovernorName],
            ks.Power,
            ks.ScanDate AS Inactive_Date,
            'Inactive / Migrated' AS Status
        FROM (
            SELECT GovernorID, MAX(ScanDate) AS LastLogin
            FROM KingdomScanData4
            GROUP BY GovernorID
            HAVING MAX(ScanDate) <= DATEADD(DAY, -1, GETDATE())
               AND MAX(ScanDate) > DATEADD(DAY, -100, GETDATE())
        ) AS latest
        CROSS APPLY (
            SELECT TOP 1 RTRIM(GovernorName) AS GovernorName, Power, ScanDate
            FROM KingdomScanData4 k
            WHERE k.GovernorID = latest.GovernorID
              AND k.ScanDate = latest.LastLogin
            ORDER BY k.ScanDate DESC
        ) AS ks;

        -- Optional: Log success
        INSERT INTO SP_ExecutionLog (ProcedureName, Status, EndTime)
        VALUES ('sp_RefreshInactiveGovernors', 'Success', GETDATE());

        COMMIT TRANSACTION;
    END TRY

    BEGIN CATCH
        -- Rollback on error
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Log error if needed
        INSERT INTO SP_ExecutionLog (ProcedureName, Status, ErrorMessage, EndTime)
        VALUES (
            'sp_RefreshInactiveGovernors',
            'Error',
            ERROR_MESSAGE(),
            GETDATE()
        );

        -- Optionally re-raise the error
        THROW;
    END CATCH
END;
GO
