USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[AllianceActivityDaily]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllianceActivityDaily](
	[GovernorID] [int] NOT NULL,
	[AsOfDate] [date] NOT NULL,
	[WeekStartUtc] [datetime2](7) NOT NULL,
	[BuildDonations] [int] NOT NULL,
	[TechDonations] [int] NOT NULL,
	[LastRebuiltFrom] [int] NULL,
 CONSTRAINT [PK_AllianceActivityDaily] PRIMARY KEY CLUSTERED 
(
	[GovernorID] ASC,
	[AsOfDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
