USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[ZEROED]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZEROED](
	[GovernorID] [float] NOT NULL,
	[GovernorName] [nchar](255) NULL,
	[Zeroed] [bit] NULL,
	[SCANOrder] [float] NOT NULL
) ON [PRIMARY]
GO
