USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[ProcConfig_AuditLog]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcConfig_AuditLog](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[KVKVersion] [int] NULL,
	[ConfigKey] [varchar](100) NULL,
	[OldValue] [varchar](255) NULL,
	[NewValue] [varchar](255) NULL,
	[OperationType] [varchar](10) NULL,
	[ChangeDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProcConfig_AuditLog] ADD  DEFAULT (getdate()) FOR [ChangeDate]
GO
