USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[AllianceActivityDelta]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllianceActivityDelta](
	[SnapshotId] [bigint] NOT NULL,
	[PrevSnapshotId] [bigint] NULL,
	[GovernorID] [bigint] NOT NULL,
	[BuildingDelta] [int] NOT NULL,
	[TechDonationDelta] [int] NOT NULL,
	[Note] [nvarchar](128) NULL,
 CONSTRAINT [PK_AllActDelta] PRIMARY KEY CLUSTERED 
(
	[SnapshotId] ASC,
	[GovernorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
