USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[vDailyWithWTD_Activity]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vDailyWithWTD_Activity] AS
WITH X AS (
    SELECT
        GovernorID, AsOfDate, WeekStartUtc,
        BuildDonations, TechDonations,
        SUM(BuildDonations) OVER (
            PARTITION BY GovernorID, WeekStartUtc
            ORDER BY AsOfDate
            ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
        ) AS WTD_Build,
        SUM(TechDonations) OVER (
            PARTITION BY GovernorID, WeekStartUtc
            ORDER BY AsOfDate
            ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
        ) AS WTD_Tech
    FROM dbo.AllianceActivityDaily WITH (NOLOCK)
)
SELECT * FROM X;
GO
