USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[TEST2]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST2](
	[PowerRank] [float] NULL,
	[GovernorName] [nvarchar](255) NULL,
	[GovernorID] [float] NULL,
	[Alliance] [nvarchar](255) NULL,
	[Power] [float] NULL,
	[KillPoints] [float] NULL,
	[Deads] [float] NULL,
	[T1_Kills] [float] NULL,
	[T2_Kills] [float] NULL,
	[T3_Kills] [float] NULL,
	[T4_Kills] [float] NULL,
	[T5_Kills] [float] NULL,
	[T4&T5_KILLS] [float] NULL,
	[TOTAL_KILLS] [float] NULL,
	[RSS_Gathered] [float] NULL,
	[RSSAssistance] [float] NULL,
	[Helps] [float] NULL,
	[ScanDate] [datetime] NULL,
	[SCANORDER] [float] NULL
) ON [PRIMARY]
GO
