USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[KingdomScanData3]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KingdomScanData3](
	[PowerRank] [float] NULL,
	[Governor Name] [nvarchar](255) NULL,
	[Governor ID] [float] NULL,
	[Governor_Alliance] [nvarchar](255) NULL,
	[Power] [float] NULL,
	[Kill Points] [float] NULL,
	[Deads] [float] NULL,
	[T1_Kills] [float] NULL,
	[T2_Kills] [float] NULL,
	[T3_Kills] [float] NULL,
	[T4_Kills] [float] NULL,
	[T5_Kills] [float] NULL,
	[Rss Assistance] [float] NULL,
	[Helps] [float] NULL,
	[ScanDate] [datetime] NULL,
	[SCANORDER] [float] NULL
) ON [PRIMARY]
GO
