USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[KVKTargetBands]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KVKTargetBands](
	[KVKVersion] [int] NOT NULL,
	[MinPower] [bigint] NOT NULL,
	[KillTarget] [int] NULL,
	[MinKillTarget] [int] NULL,
	[DeadTarget] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KVKVersion] ASC,
	[MinPower] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
