USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[IMPORT_STAGING_CSV]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORT_STAGING_CSV](
	[GovernorID] [bigint] NULL,
	[Name] [nvarchar](100) NULL,
	[Power] [bigint] NULL,
	[Alliance] [nvarchar](50) NULL,
	[T1_Kills] [bigint] NULL,
	[T2_Kills] [bigint] NULL,
	[T3_Kills] [bigint] NULL,
	[T4_Kills] [bigint] NULL,
	[T5_Kills] [bigint] NULL,
	[TotalKillPoints] [bigint] NULL,
	[DeadTroops] [bigint] NULL,
	[RssAssistance] [bigint] NULL,
	[AllianceHelps] [bigint] NULL,
	[RssGathered] [bigint] NULL,
	[CityHall] [int] NULL,
	[TroopsPower] [bigint] NULL,
	[TechPower] [bigint] NULL,
	[BuildingPower] [bigint] NULL,
	[CommanderPower] [bigint] NULL,
	[updated_on] [nvarchar](50) NULL
) ON [PRIMARY]
GO
