USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[TARGETS_JUN25]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARGETS_JUN25](
	[GovernorID] [float] NOT NULL,
	[KILL_TARGET] [int] NULL,
	[MINIMUM_KILL_TARGET] [int] NULL,
	[DEAD_TARGET] [int] NULL
) ON [PRIMARY]
GO
