USE [ROK_TRACKER]
GO
/****** Object:  StoredProcedure [dbo].[usp_update_stats]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[usp_update_stats]
WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;
    -- Update only stats that need it (default behavior). Optionally use 'RESAMPLE'
    EXEC sp_updatestats;
END
GO
