USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[NAMEFIX]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NAMEFIX](
	[GI1] [float] NOT NULL,
	[GN1] [nchar](255) NULL,
	[GN2] [nchar](255) NULL,
	[GN3] [nchar](255) NULL
) ON [PRIMARY]
GO
