USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[vDaily_Activity]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vDaily_Activity] AS
SELECT
    a.AsOfDate,
    a.GovernorID,
    a.BuildDonations,
    a.TechDonations
FROM dbo.AllianceActivityDaily AS a WITH (NOLOCK);

GO
