USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[T5KillDelta]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T5KillDelta](
	[GovernorID] [float] NOT NULL,
	[DeltaOrder] [float] NOT NULL,
	[T5KILLSDelta] [float] NULL
) ON [PRIMARY]
GO
