USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[TARGETS_11]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARGETS_11](
	[GovernorID] [float] NOT NULL,
	[Kill_Target] [int] NULL,
	[Minimum_Kill_Target] [int] NULL,
	[Dead_Target] [int] NULL
) ON [PRIMARY]
GO
