USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[CURRENT_TARGETS_NEW_SEPT24]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRENT_TARGETS_NEW_SEPT24](
	[GovernorID] [float] NOT NULL,
	[KILL_TARGET] [int] NULL,
	[DEAD_TARGET] [int] NULL
) ON [PRIMARY]
GO
