USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[HoH_Deads]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoH_Deads](
	[GovernorID] [float] NOT NULL,
	[T4_Deads] [float] NULL,
	[T5_Deads] [float] NULL,
	[KVK_START_SCANORDER] [float] NULL
) ON [PRIMARY]
GO
