USE [ROK_TRACKER]
GO
/****** Object:  StoredProcedure [dbo].[CaptureLogHealth]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[CaptureLogHealth]
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @db sysname = N'ROK_TRACKER';

  DECLARE @used float =
    (SELECT CAST(used_log_space_in_percent AS float)
     FROM sys.dm_db_log_space_usage
     WHERE DB_NAME(database_id) = @db);

  DECLARE @reuse nvarchar(60) =
    (SELECT log_reuse_wait_desc FROM sys.databases WHERE name = @db);

  DECLARE @recovery nvarchar(60) =
    (SELECT recovery_model_desc FROM sys.databases WHERE name = @db);

  DECLARE @lastFull datetime2(0) =
    (SELECT TOP (1) backup_finish_date
     FROM msdb.dbo.backupset
     WHERE database_name = @db AND type = 'D'
     ORDER BY backup_finish_date DESC);

  DECLARE @lastLog datetime2(0) =
    (SELECT TOP (1) backup_finish_date
     FROM msdb.dbo.backupset
     WHERE database_name = @db AND type = 'L'
     ORDER BY backup_finish_date DESC);

  INSERT dbo.LogHealthSamples (used_percent, reuse_wait_desc, recovery_model, last_full_backup, last_log_backup)
  VALUES (@used, @reuse, @recovery, @lastFull, @lastLog);
END
GO
