USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[cur_RallyDaily]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cur_RallyDaily](
	[AsOfDate] [date] NOT NULL,
	[GovernorID] [bigint] NOT NULL,
	[GovernorName] [nvarchar](120) NULL,
	[TotalRallies] [int] NOT NULL,
	[RalliesLaunched] [int] NOT NULL,
	[RalliesJoined] [int] NOT NULL,
	[InsertedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cur_RallyDaily] PRIMARY KEY CLUSTERED 
(
	[AsOfDate] ASC,
	[GovernorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cur_RallyDaily] ADD  DEFAULT (sysutcdatetime()) FOR [InsertedAt]
GO
