USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[v_PlayerProfile]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- B1) Player profile (include PowerRank from v_PlayerLatestStats)
CREATE   VIEW [dbo].[v_PlayerProfile]
AS
SELECT
    s.GovernorID,
    s.Governor_Name,
    s.Alliance,
    s.CityHallLevel,
    s.Power,
    s.Kills,
    s.Deads,
    s.RSS_Gathered,
    s.Helps,
    loc.X,
    loc.Y,
    loc.LastUpdated AS LocationUpdated,
    acc.Status,
    acc.UpdatedAt   AS StatusUpdated,
    f.FortsRank,
    f.FortsStarted,
    f.FortsJoined,
    f.FortsTotal,
    f.SnapshotAt    AS FortsUpdated,
    -- NEW:
    s.PowerRank
FROM dbo.v_PlayerLatestStats AS s
LEFT JOIN dbo.PlayerLocation            AS loc ON loc.GovernorID = s.GovernorID
LEFT JOIN dbo.PlayerAccountStatus       AS acc ON acc.GovernorID = s.GovernorID
LEFT JOIN dbo.v_PlayerFortsLatestWithRank AS f ON f.GovernorID = s.GovernorID;
GO
