USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[KingdomScanData4]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KingdomScanData4](
	[PowerRank] [float] NOT NULL,
	[GovernorName] [nchar](255) NULL,
	[GovernorID] [float] NOT NULL,
	[Alliance] [nchar](255) NULL,
	[Power] [float] NOT NULL,
	[KillPoints] [float] NOT NULL,
	[Deads] [float] NOT NULL,
	[T1_Kills] [float] NOT NULL,
	[T2_Kills] [float] NOT NULL,
	[T3_Kills] [float] NOT NULL,
	[T4_Kills] [float] NOT NULL,
	[T5_Kills] [float] NOT NULL,
	[T4&T5_KILLS] [float] NULL,
	[TOTAL_KILLS] [float] NULL,
	[RSS_Gathered] [float] NULL,
	[RSSAssistance] [float] NOT NULL,
	[Helps] [float] NOT NULL,
	[ScanDate] [datetime] NOT NULL,
	[SCANORDER] [float] NOT NULL,
	[SCAN_UNO] [int] NOT NULL,
	[Troops Power] [float] NULL,
	[City Hall] [float] NULL,
	[Tech Power] [float] NULL,
	[Building Power] [float] NULL,
	[Commander Power] [float] NULL,
	[AsOfDate]  AS (CONVERT([date],[ScanDate])) PERSISTED
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KingdomScanData4] ADD  CONSTRAINT [DF_KS4_SCAN_UNO]  DEFAULT (NEXT VALUE FOR [dbo].[KS4_UNO_SEQ]) FOR [SCAN_UNO]
GO
