USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[SUMMARY_CHANGE_EXPORT]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUMMARY_CHANGE_EXPORT](
	[GOVERNORID] [float] NOT NULL,
	[GOVERNORNAME] [nchar](255) NULL,
	[T4&T5_KILLS] [float] NULL,
	[StartingT4&T5_KILLS] [float] NULL,
	[OverallT4&T5_KILLSDelta] [float] NULL,
	[T4&T5_KILLSDelta12Months] [float] NOT NULL,
	[T4&T5_KILLSDelta6Months] [float] NOT NULL,
	[T4&T5_KILLSDelta3Months] [float] NOT NULL,
	[T4_KILLS] [float] NOT NULL,
	[StartingT4_KILLS] [float] NULL,
	[OverallT4_KILLSDelta] [float] NULL,
	[T4_KILLSDelta12Months] [float] NOT NULL,
	[T4_KILLSDelta6Months] [float] NOT NULL,
	[T4_KILLSDelta3Months] [float] NOT NULL,
	[T5_Kills] [float] NOT NULL,
	[StartingT5_Kills] [float] NULL,
	[OverallT5_KillsDelta] [float] NULL,
	[T5_KillsDelta12Months] [float] NOT NULL,
	[T5_KillsDelta6Months] [float] NOT NULL,
	[T5_KillsDelta3Months] [float] NOT NULL,
	[POWER] [float] NOT NULL,
	[StartingPower] [float] NULL,
	[OverallPowerDelta] [float] NULL,
	[PowerDelta12Months] [float] NULL,
	[PowerDelta6Months] [float] NULL,
	[PowerDelta3Months] [float] NULL,
	[DEADS] [float] NOT NULL,
	[StartingDEADS] [float] NULL,
	[OverallDEADSDelta] [float] NULL,
	[DEADSDelta12Months] [float] NULL,
	[DEADSDelta6Months] [float] NULL,
	[DEADSDelta3Months] [float] NULL
) ON [PRIMARY]
GO
