USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[GovernorNameHistory]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GovernorNameHistory](
	[GovernorID] [bigint] NOT NULL,
	[GovernorName] [nvarchar](100) NOT NULL,
	[FirstSeen] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GovernorID] ASC,
	[GovernorName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GovernorNameHistory] ADD  CONSTRAINT [DF_GovNameHistory_FirstSeen]  DEFAULT (sysutcdatetime()) FOR [FirstSeen]
GO
