USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[PlayerLocation]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerLocation](
	[GovernorID] [bigint] NOT NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[LastUpdated] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GovernorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PlayerLocation] ADD  CONSTRAINT [DF_PlayerLocation_LastUpdated]  DEFAULT (sysutcdatetime()) FOR [LastUpdated]
GO
