USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[THE_AVERAGES]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THE_AVERAGES](
	[PowerRank] [varchar](3) NOT NULL,
	[GovernorName] [varchar](15) NOT NULL,
	[GovernorID] [varchar](9) NOT NULL,
	[Alliance] [varchar](11) NOT NULL,
	[Power] [float] NULL,
	[KillPoints] [float] NULL,
	[Deads] [float] NULL,
	[T1_Kills] [float] NULL,
	[T2_Kills] [float] NULL,
	[T3_Kills] [float] NULL,
	[T4_Kills] [float] NULL,
	[T5_Kills] [float] NULL,
	[T4&T5_KILLS] [float] NULL,
	[TOTAL_KILLS] [float] NULL,
	[RSS_Gathered] [float] NULL,
	[RSSAssistance] [float] NULL,
	[Helps] [float] NULL,
	[ScanDate] [datetime] NOT NULL,
	[SCANORDER] [float] NOT NULL,
	[SCAN_UNO] [varchar](9) NOT NULL
) ON [PRIMARY]
GO
