USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[EXCEL_OUTPUT_CURRENT_KVK_TARGETS]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCEL_OUTPUT_CURRENT_KVK_TARGETS](
	[Rank] [float] NOT NULL,
	[Gov_ID] [float] NOT NULL,
	[Governor_Name] [nchar](255) NULL,
	[Power] [nvarchar](4000) NULL,
	[Kill Target] [int] NULL,
	[Dead Target] [int] NULL,
	[DKP Target] [int] NULL,
	[Kills_for_Last KVK] [float] NULL,
	[DEADS_for_Last KVK] [float] NULL,
	[DKP_For_Last_KVK] [float] NULL,
	[Kills_for_July KVK] [float] NULL,
	[DEADS_for_July KVK] [float] NULL,
	[DKP_For_July KVK] [float] NULL
) ON [PRIMARY]
GO
