USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[v_KVK_Honor_TopLatest]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_KVK_Honor_TopLatest] AS
WITH last_scan AS (
  SELECT KVK_NO, MAX(ScanID) AS ScanID
  FROM dbo.KVK_Honor_Scan
  GROUP BY KVK_NO
)
SELECT a.KVK_NO, a.ScanID, s.ScanTimestampUTC,
       a.GovernorID, a.GovernorName, a.HonorPoints,
       RANK() OVER (PARTITION BY a.KVK_NO, a.ScanID ORDER BY a.HonorPoints DESC, a.GovernorID ASC) AS Rank
FROM dbo.KVK_Honor_AllPlayers_Raw a
JOIN last_scan l ON l.KVK_NO = a.KVK_NO AND l.ScanID = a.ScanID
JOIN dbo.KVK_Honor_Scan s ON s.KVK_NO = a.KVK_NO AND s.ScanID = a.ScanID;
GO
