USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[vWTD_Activity]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vWTD_Activity] AS
SELECT
    a.WeekStartUtc,
    a.GovernorID,
    SUM(a.BuildDonations)     AS WTD_BuildDonations,
    SUM(a.TechDonations)      AS WTD_TechDonations
FROM dbo.AllianceActivityDaily AS a WITH (NOLOCK)
GROUP BY a.WeekStartUtc, a.GovernorID;

GO
