USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[K412D]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[K412D](
	[GovernorID] [float] NOT NULL,
	[T4_KILLSDelta12Months] [float] NULL
) ON [PRIMARY]
GO
