USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[v_TARGETS_FOR_UPLOAD]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_TARGETS_FOR_UPLOAD] AS SELECT * FROM [dbo].[EXCEL_EXPORT_KVK_TARGETS_13];
GO
