USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[PlayerAccountStatus_StagingCSV]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerAccountStatus_StagingCSV](
	[GovernorID] [bigint] NOT NULL,
	[GovernorName] [nvarchar](400) NULL,
	[Status] [nvarchar](50) NULL,
	[UpdatedAtRaw] [nvarchar](40) NULL,
	[AccountType] [nvarchar](10) NULL,
	[Main_GovernorID_Raw] [nvarchar](40) NULL,
	[Role] [nvarchar](100) NULL,
	[Extra1] [nvarchar](100) NULL,
	[Extra2] [nvarchar](100) NULL,
	[Extra3] [nvarchar](100) NULL,
	[Extra4] [nvarchar](100) NULL
) ON [PRIMARY]
GO
