USE [ROK_TRACKER]
GO
/****** Object:  StoredProcedure [dbo].[sp_Snapshot_PlayerForts]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Snapshot_PlayerForts]
  @SnapshotAt date = NULL   -- daily: pass file AsOfDate; all-time: pass baseline (or let it default to today UTC)
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @snap date = COALESCE(@SnapshotAt, CAST(SYSUTCDATETIME() AS date));

  ;WITH RC AS
  (
    SELECT
      GovernorID,
      RalliesLaunched AS FortsStarted,
      RalliesJoined   AS FortsJoined
      -- FortsTotal is computed in the table; do NOT set it here
    FROM dbo.v_RallyTotals_Current
  )
  MERGE dbo.PlayerFortsHistory AS tgt
  USING (
    SELECT GovernorID, FortsStarted, FortsJoined, @snap AS SnapshotAt
    FROM RC
  ) AS src
    ON  tgt.GovernorID = src.GovernorID
    AND tgt.SnapshotAt = src.SnapshotAt
  WHEN MATCHED THEN
    UPDATE SET
      FortsStarted = src.FortsStarted,
      FortsJoined  = src.FortsJoined
  WHEN NOT MATCHED THEN
    INSERT (GovernorID, FortsStarted, FortsJoined, SnapshotAt)
    VALUES (src.GovernorID, src.FortsStarted, src.FortsJoined, src.SnapshotAt);
END
GO
