USE [ROK_TRACKER]
GO
/****** Object:  StoredProcedure [dbo].[SUMMARY_PROC]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SUMMARY_PROC]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Step 1: Execute dependent procedures
        EXEC DEADSSUMMARY_PROC;
        EXEC POWERSUMMARY_PROC;
        EXEC KILLSSUMMARY_PROC;
        EXEC KT4SUMMARY_PROC;
        EXEC KT5SUMMARY_PROC;

        -- Step 2: Clear export table
        TRUNCATE TABLE SUMMARY_CHANGE_EXPORT;

        -- Step 3: Insert combined summary data
        INSERT INTO SUMMARY_CHANGE_EXPORT
        SELECT 
            P.GOVERNORID,
            P.GOVERNORNAME,
            [T4&T5_KILLS],
            [StartingT4&T5_KILLS],
            [OverallT4&T5_KILLSDelta],
            [T4&T5_KILLSDelta12Months],
            [T4&T5_KILLSDelta6Months],
            [T4&T5_KILLSDelta3Months],
            [T4_KILLS],
            [StartingT4_KILLS],
            [OverallT4_KILLSDelta],
            [T4_KILLSDelta12Months],
            [T4_KILLSDelta6Months],
            [T4_KILLSDelta3Months],
            [T5_Kills],
            [StartingT5_Kills],
            [OverallT5_KillsDelta],
            [T5_KillsDelta12Months],
            [T5_KillsDelta6Months],
            [T5_KillsDelta3Months],
            [POWER],
            [StartingPower],
            [OverallPowerDelta],
            [PowerDelta12Months],
            [PowerDelta6Months],
            [PowerDelta3Months],
            [DEADS],
            [StartingDEADS],
            [OverallDEADSDelta],
            [DEADSDelta12Months],
            [DEADSDelta6Months],
            [DEADSDelta3Months]
        FROM POWERSUMMARY AS P
        JOIN KILL4summary AS K4 ON P.GOVERNORID = K4.GOVERNORID
        JOIN KILL5SUMMARY AS K5 ON P.GOVERNORID = K5.GOVERNORID
        JOIN KILLSUMMARY AS K ON P.GOVERNORID = K.GOVERNORID
        JOIN DEADSSUMMARY AS D ON P.GOVERNORID = D.GOVERNORID
        ORDER BY P.GOVERNORNAME;

        -- Step 4: Return result
        --SELECT * FROM SUMMARY_CHANGE_EXPORT;
    END TRY
    BEGIN CATCH
        -- Error logging and rethrowing
        DECLARE 
            @ErrorMessage NVARCHAR(4000),
            @ErrorSeverity INT,
            @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Optional: log error to a table or log system here

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
