USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[IMPORT_STAGING2]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORT_STAGING2](
	[Governor Name] [nchar](255) NULL,
	[Governor ID] [float] NOT NULL,
	[Alliance] [nchar](255) NULL,
	[Power] [float] NOT NULL,
	[Kill Points] [float] NOT NULL,
	[Deaths] [float] NOT NULL,
	[T1] [float] NOT NULL,
	[T2] [float] NOT NULL,
	[T3] [float] NOT NULL,
	[T4] [float] NOT NULL,
	[T5] [float] NOT NULL,
	[Kills (T4+)] [float] NULL,
	[KILLS] [float] NULL,
	[RSS Gathered] [float] NULL,
	[RSS Assistance] [float] NOT NULL,
	[Helps] [float] NOT NULL,
	[ScanDate] [datetime] NULL,
	[SCANORDER] [float] NULL
) ON [PRIMARY]
GO
