USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[LATEST]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LATEST](
	[GovernorID] [float] NOT NULL,
	[GovernorName] [nchar](255) NULL,
	[PowerRank] [float] NOT NULL,
	[DEADS] [float] NOT NULL
) ON [PRIMARY]
GO
