USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[BotCommandUsage]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BotCommandUsage](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ExecutedAtUtc] [datetime2](3) NOT NULL,
	[CommandName] [nvarchar](64) NOT NULL,
	[Version] [nvarchar](16) NULL,
	[appcontext] [nvarchar](16) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[UserDisplay] [nvarchar](128) NOT NULL,
	[GuildId] [bigint] NULL,
	[ChannelId] [bigint] NULL,
	[Success] [bit] NOT NULL,
	[ErrorCode] [nvarchar](64) NULL,
	[LatencyMs] [int] NULL,
	[ArgsShape] [nvarchar](max) NULL,
	[ErrorText] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
