USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[TempCSVData]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempCSVData](
	[kingdomd] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
	[governor_id] [nvarchar](max) NULL,
	[power] [nvarchar](max) NULL,
	[killpoints] [nvarchar](max) NULL,
	[deads] [nvarchar](max) NULL,
	[killpoints_6month] [nvarchar](max) NULL,
	[kills_t1] [nvarchar](max) NULL,
	[kills_t2] [nvarchar](max) NULL,
	[kills_t3] [nvarchar](max) NULL,
	[kills_t4] [nvarchar](max) NULL,
	[kills_t5] [nvarchar](max) NULL,
	[helps] [nvarchar](max) NULL,
	[rss_gathered] [nvarchar](max) NULL,
	[rss_assist] [nvarchar](max) NULL,
	[ch25] [nvarchar](max) NULL,
	[date_scanned] [nvarchar](max) NULL,
	[account_status] [nvarchar](max) NULL,
	[on_map] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
