USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[POWERDelta]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POWERDelta](
	[GovernorID] [float] NOT NULL,
	[DeltaOrder] [float] NOT NULL,
	[Power_Delta] [float] NULL
) ON [PRIMARY]
GO
