USE [ROK_TRACKER]
GO
/****** Object:  UserDefinedTableType [dbo].[IntList]    Script Date: 13/11/2025 16:55:36 ******/
CREATE TYPE [dbo].[IntList] AS TABLE(
	[ID] [int] NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
