USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[EXCEL_FOR_OCT23_KVK]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCEL_FOR_OCT23_KVK](
	[Rank] [float] NOT NULL,
	[KVK_RANK] [bigint] NULL,
	[Gov_ID] [float] NOT NULL,
	[Governor_Name] [nchar](255) NULL,
	[Power] [float] NOT NULL,
	[Power_Delta] [float] NULL,
	[T4_KILLS] [float] NULL,
	[T5_KILLS] [float] NULL,
	[T4&T5_Kills] [float] NULL,
	[KILLS_OUTSIDE_KVK] [float] NULL,
	[Kill Target] [int] NULL,
	[% of Kill target] [float] NULL,
	[Deads] [float] NULL,
	[DEADS_OUTSIDE_KVK] [float] NULL,
	[T4_Deads] [float] NULL,
	[T5_Deads] [float] NULL,
	[Dead Target] [float] NULL,
	[% of Dead Target] [float] NULL,
	[Zeroed] [bit] NULL,
	[DKP_Score] [float] NULL,
	[DKP Target] [float] NULL,
	[% of DKP Target] [float] NULL,
	[Helps] [float] NULL,
	[RSS_Assist] [float] NULL,
	[RSS_Gathered] [float] NULL,
	[Pass 4 Kills] [float] NULL,
	[Pass 6 Kills] [float] NULL,
	[Pass7 Kills] [float] NULL,
	[Pass 8 Kills] [float] NULL,
	[Pass 4 Deads] [float] NULL,
	[Pass 6 Deads] [float] NULL,
	[Pass 7 Deads] [float] NULL,
	[Pass 8 Deads] [float] NULL,
	[KVK_NO] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
