USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[TARGETS_JULY23KVK]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARGETS_JULY23KVK](
	[GovernorID] [float] NOT NULL,
	[KILL_TARGET] [float] NULL,
	[DEAD_TARGET] [float] NULL
) ON [PRIMARY]
GO
