USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[vw_Top3_Week]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_Top3_Week] AS

WITH DeltaWithTime AS (
    SELECT d.GovernorID, d.BuildingDelta, d.TechDonationDelta,
           h.SnapshotTsUtc, h.WeekStartUtc
    FROM dbo.AllianceActivityDelta d
    JOIN dbo.AllianceActivitySnapshotHeader h ON h.SnapshotId = d.SnapshotId
)

SELECT TOP (3)
    dw.GovernorID,
    SUM(dw.TechDonationDelta)    AS TechDonationWeek,
    SUM(dw.BuildingDelta)        AS BuildingWeek
FROM DeltaWithTime dw
WHERE dw.WeekStartUtc =
      DATEADD(day, 1 - DATEPART(weekday, SYSUTCDATETIME() AT TIME ZONE 'UTC'),
              CONVERT(date, SYSUTCDATETIME())) -- computed Monday 00:00 UTC
GROUP BY dw.GovernorID
ORDER BY TechDonationWeek DESC, BuildingWeek DESC, GovernorID;
GO
