USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[v_KVK_Honor_Latest]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_KVK_Honor_Latest] AS
SELECT a.KVK_NO, a.GovernorID, a.GovernorName, a.HonorPoints,
       s.ScanID, s.ScanTimestampUTC
FROM dbo.KVK_Honor_AllPlayers_Raw a
JOIN (
  SELECT KVK_NO, GovernorID,
         MAX(ScanID) AS LatestScanID
  FROM dbo.KVK_Honor_AllPlayers_Raw
  GROUP BY KVK_NO, GovernorID
) x ON x.KVK_NO = a.KVK_NO AND x.GovernorID = a.GovernorID AND x.LatestScanID = a.ScanID
JOIN dbo.KVK_Honor_Scan s ON s.KVK_NO = a.KVK_NO AND s.ScanID = a.ScanID;
GO
