USE [ROK_TRACKER]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KVK_Kingdom_Aggregated]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_KVK_Kingdom_Aggregated](@kvk_no INT)
RETURNS TABLE
AS
RETURN
(
    WITH W AS (
        SELECT WindowName FROM KVK.KVK_Windows WHERE KVK_NO = @kvk_no AND StartScanID IS NOT NULL
    ), Agg AS (
        SELECT kw.Kingdom AS kingdom,
               SUM(ISNULL(kw.T4_Kills,0)) AS t4,
               SUM(ISNULL(kw.T5_Kills,0)) AS t5,
               SUM(ISNULL(kw.Deads,0)) AS deads
        FROM KVK.KVK_Kingdom_Windowed kw
        JOIN W ON W.WindowName = kw.WindowName
        WHERE kw.KVK_NO = @kvk_no
        GROUP BY kw.Kingdom
    ), Den AS (
        SELECT d.kingdom, SUM(d.sp) AS denom
        FROM (
            SELECT p.[governor_id], MAX(p.Kingdom) AS kingdom, MAX(ISNULL(p.Starting_Power,0)) AS sp
            FROM KVK.KVK_Player_Windowed p
            WHERE p.KVK_NO = @kvk_no
            GROUP BY p.[governor_id]
        ) d
        GROUP BY d.kingdom
    )
    SELECT a.kingdom, a.t4, a.t5, a.deads, ISNULL(d.denom,0) AS denom
    FROM Agg a
    LEFT JOIN Den d ON d.kingdom = a.kingdom
);

GO
