USE [ROK_TRACKER]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KVK_Player_Aggregated]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_KVK_Player_Aggregated](@kvk_no INT)
RETURNS TABLE
AS
RETURN
(
    WITH W AS (
        SELECT WindowName
        FROM KVK.KVK_Windows
        WHERE KVK_NO = @kvk_no AND StartScanID IS NOT NULL
    )
    SELECT p.[governor_id],
           COALESCE(MAX(p.Name), CONVERT(varchar(100), p.[governor_id])) AS name,
           MAX(p.Kingdom) AS kingdom,
           MAX(p.CampID) AS campid,
           SUM(ISNULL(p.T4_Kills,0)) AS t4,
           SUM(ISNULL(p.T5_Kills,0)) AS t5,
           SUM(ISNULL(p.Deads,0)) AS deads,
           MAX(ISNULL(p.Starting_Power,0)) AS sp
    FROM KVK.KVK_Player_Windowed p
    JOIN W ON W.WindowName = p.WindowName
    WHERE p.KVK_NO = @kvk_no
    GROUP BY p.[governor_id]
);

GO
