USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[EXCEL_EXPORT_KVK_TARGETS_10]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCEL_EXPORT_KVK_TARGETS_10](
	[Rank] [bigint] NULL,
	[Gov_ID] [float] NOT NULL,
	[Governor_Name] [nvarchar](255) NULL,
	[Power] [nvarchar](4000) NULL,
	[City Hall] [float] NULL,
	[Troops Power] [nvarchar](4000) NULL,
	[Tech Power] [nvarchar](4000) NULL,
	[Building Power] [nvarchar](4000) NULL,
	[Commander Power] [nvarchar](4000) NULL,
	[BLANK1] [varchar](1) NOT NULL,
	[Kill Target] [int] NULL,
	[Minimum Kill Target] [int] NULL,
	[Dead Target] [int] NULL,
	[DKP Target] [int] NULL,
	[BLANK2] [varchar](1) NOT NULL,
	[Kills KVK 9] [float] NULL,
	[DEADS KVK 9] [float] NULL,
	[DKP KVK 9] [float] NULL,
	[% DKP Target KVK 9] [float] NULL,
	[BLANK3] [varchar](1) NOT NULL,
	[Kills KVK 8] [float] NULL,
	[DEADS KVK 8] [float] NULL,
	[DKP KVK 8] [float] NULL,
	[% DKP Target KVK 8] [float] NULL
) ON [PRIMARY]
GO
