USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[KS]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KS](
	[KINGDOM_POWER] [bigint] NULL,
	[Governors] [int] NULL,
	[KP] [float] NULL,
	[KILL] [float] NULL,
	[DEAD] [float] NULL,
	[Last Update] [datetime] NULL,
	[KINGDOM_RANK] [varchar](4) NOT NULL,
	[KINGDOM_SEED] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
