USE [ROK_TRACKER]
GO
/****** Object:  StoredProcedure [dbo].[sp_Rebuild_RALLY_EXPORT]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Rebuild: clear the materialized table without TRUNCATE
CREATE   PROCEDURE [dbo].[sp_Rebuild_RALLY_EXPORT]
AS
BEGIN
  SET NOCOUNT ON; SET XACT_ABORT ON;

  DECLARE @Baseline date =
  ( SELECT CAST(MAX(SnapshotAt) AS date) FROM dbo.cur_RallyTotals_Base );

  BEGIN TRAN;

  DELETE FROM dbo.RALLY_EXPORT;

  ;WITH DailyAgg AS
  (
    SELECT GovernorID,
           MAX(GovernorName) AS GovernorName,
           SUM(TotalRallies) AS TotalRallies,
           SUM(RalliesLaunched) AS RalliesLaunched,
           SUM(RalliesJoined) AS RalliesJoined
    FROM dbo.cur_RallyDaily
    WHERE (@Baseline IS NULL OR AsOfDate > @Baseline)
    GROUP BY GovernorID
  ),
  Base AS
  (
    SELECT GovernorID, GovernorName, TotalRallies, RalliesLaunched, RalliesJoined
    FROM dbo.cur_RallyTotals_Base
  ),
  Final AS
  (
    SELECT
      COALESCE(d.GovernorID, b.GovernorID) AS GovernorID,
      COALESCE(d.GovernorName, b.GovernorName) AS GovernorName,
      COALESCE(b.TotalRallies, 0)    + COALESCE(d.TotalRallies, 0)    AS TotalRallies,
      COALESCE(b.RalliesLaunched, 0) + COALESCE(d.RalliesLaunched, 0) AS RalliesLaunched,
      COALESCE(b.RalliesJoined, 0)   + COALESCE(d.RalliesJoined, 0)   AS RalliesJoined
    FROM DailyAgg d
    FULL OUTER JOIN Base b ON b.GovernorID = d.GovernorID
  )
  INSERT dbo.RALLY_EXPORT (GOVENOR, RALLY_LAUNCHED, RALLY_JOINED, TOTAL_RALLIES_COMPLETED)
  SELECT
    CONCAT(RTRIM(f.GovernorName), ' (', CONVERT(varchar(20), f.GovernorID), ')') AS GOVENOR,
    f.RalliesLaunched,
    f.RalliesJoined,
    f.TotalRallies
  FROM Final f
  WHERE f.GovernorID <> 0;

  COMMIT;
END;
GO
