USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[PreKvk_Scan]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreKvk_Scan](
	[KVK_NO] [int] NOT NULL,
	[ScanID] [int] IDENTITY(1,1) NOT NULL,
	[ScanTimestampUTC] [datetime2](0) NOT NULL,
	[SourceFileName] [nvarchar](255) NOT NULL,
	[FileHash] [varbinary](32) NULL,
	[row_count] [int] NULL,
	[ImportedAtUTC] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_PreKvk_Scan] PRIMARY KEY CLUSTERED 
(
	[KVK_NO] ASC,
	[ScanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PreKvk_Scan] UNIQUE NONCLUSTERED 
(
	[KVK_NO] ASC,
	[FileHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PreKvk_Scan] ADD  DEFAULT (sysutcdatetime()) FOR [ScanTimestampUTC]
GO
ALTER TABLE [dbo].[PreKvk_Scan] ADD  DEFAULT (sysutcdatetime()) FOR [ImportedAtUTC]
GO
