USE [ROK_TRACKER]
GO
/****** Object:  StoredProcedure [dbo].[sp_Import_Rally_Daily]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Import_Rally_Daily]
  @AsOfDate date
AS
BEGIN
  SET NOCOUNT ON;

  ;WITH S AS (
    SELECT
      CAST(AsOfDate AS date) AsOfDate,
      CAST(GovernorID AS bigint) GovernorID,
      CAST(GovernorName AS nvarchar(120)) GovernorName,
      CAST(TotalRallies AS int) TotalRallies,
      CAST(RalliesLaunched AS int) RalliesLaunched,
      CAST(RalliesJoined AS int) RalliesJoined
    FROM dbo.stg_RallyDaily
  )
  MERGE dbo.cur_RallyDaily AS T
  USING (SELECT * FROM S WHERE AsOfDate = @AsOfDate) AS D
  ON (T.AsOfDate = D.AsOfDate AND T.GovernorID = D.GovernorID)
  WHEN MATCHED THEN UPDATE SET
      T.GovernorName    = D.GovernorName,
      T.TotalRallies    = D.TotalRallies,
      T.RalliesLaunched = D.RalliesLaunched,
      T.RalliesJoined   = D.RalliesJoined,
      T.InsertedAt      = SYSUTCDATETIME()
  WHEN NOT MATCHED BY TARGET THEN
      INSERT (AsOfDate, GovernorID, GovernorName, TotalRallies, RalliesLaunched, RalliesJoined)
      VALUES (D.AsOfDate, D.GovernorID, D.GovernorName, D.TotalRallies, D.RalliesLaunched, D.RalliesJoined);

  EXEC dbo.sp_Rebuild_RALLY_EXPORT;  -- materialize final table for consumers
  EXEC dbo.sp_Snapshot_PlayerForts @SnapshotAt = @AsOfDate;
END;
GO
