USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[PlayerFortsHistory]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerFortsHistory](
	[GovernorID] [bigint] NOT NULL,
	[FortsStarted] [int] NOT NULL,
	[FortsJoined] [int] NOT NULL,
	[FortsTotal]  AS ([FortsStarted]+[FortsJoined]) PERSISTED,
	[SnapshotAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_PlayerFortsHistory] PRIMARY KEY CLUSTERED 
(
	[GovernorID] ASC,
	[SnapshotAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PlayerFortsHistory] ADD  CONSTRAINT [DF_PlayerFortsHistory_SnapshotAt]  DEFAULT (sysutcdatetime()) FOR [SnapshotAt]
GO
