USE [ROK_TRACKER]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PreKvkLatestOverall]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Latest totals at the *latest* snapshot for a KVK
CREATE   FUNCTION [dbo].[fn_PreKvkLatestOverall] (@KVK_NO int)
RETURNS TABLE
AS
RETURN
WITH L AS (
    SELECT TOP (1) ScanID
    FROM dbo.PreKvk_Scan
    WHERE KVK_NO = @KVK_NO
    ORDER BY ScanID DESC
)
SELECT s.GovernorID,
       MAX(s.GovernorName) AS GovernorName,
       MAX(s.Points)       AS Points
FROM dbo.PreKvk_Scores s
CROSS JOIN L
WHERE s.KVK_NO = @KVK_NO
  AND s.ScanID = L.ScanID
GROUP BY s.GovernorID;
GO
