USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[EXEMPT_FROM_STATS]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXEMPT_FROM_STATS](
	[GovernorID] [float] NOT NULL,
	[GovernorName] [nchar](255) NULL,
	[Exempt] [bit] NULL,
	[KVK_NO] [float] NULL
) ON [PRIMARY]
GO
