USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[POWERSUMMARY]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POWERSUMMARY](
	[GovernorID] [float] NOT NULL,
	[GovernorName] [nchar](255) NULL,
	[PowerRank] [float] NOT NULL,
	[Power] [float] NOT NULL,
	[StartingPower] [float] NULL,
	[OverallPowerDelta] [float] NULL,
	[PowerDelta12Months] [float] NULL,
	[PowerDelta6Months] [float] NULL,
	[PowerDelta3Months] [float] NULL
) ON [PRIMARY]
GO
