USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[PlayerLocation_Staging]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerLocation_Staging](
	[player_id] [bigint] NOT NULL,
	[player_name] [nvarchar](100) NULL,
	[player_power] [bigint] NULL,
	[player_kills] [bigint] NULL,
	[player_ch] [int] NULL,
	[player_alliance] [nvarchar](50) NULL,
	[x] [int] NOT NULL,
	[y] [int] NOT NULL,
	[ImportedAt] [datetime2](0) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PlayerLocation_Staging] ADD  CONSTRAINT [DF_PlayerLoc_Stg_ImportedAt]  DEFAULT (sysutcdatetime()) FOR [ImportedAt]
GO
