USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[KILLSUMMARY]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KILLSUMMARY](
	[GovernorID] [float] NOT NULL,
	[GovernorName] [nchar](255) NULL,
	[POWERRank] [float] NOT NULL,
	[T4&T5_KILLS] [float] NULL,
	[StartingT4&T5_KILLS] [float] NULL,
	[OverallT4&T5_KILLSDelta] [float] NULL,
	[T4&T5_KILLSDelta12Months] [float] NOT NULL,
	[T4&T5_KILLSDelta6Months] [float] NOT NULL,
	[T4&T5_KILLSDelta3Months] [float] NOT NULL
) ON [PRIMARY]
GO
