USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[POWER_BY_MONTH]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POWER_BY_MONTH](
	[GovernorID] [float] NOT NULL,
	[GovernorName] [nvarchar](255) NULL,
	[POWER] [float] NULL,
	[KILLPOINTS] [float] NULL,
	[T4&T5KILLS] [float] NULL,
	[DEADS] [float] NULL,
	[MONTH] [date] NULL
) ON [PRIMARY]
GO
