USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[v_GovernorNames_Strict]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_GovernorNames_Strict] AS
SELECT *
FROM dbo.v_GovernorNames
WHERE GovernorName IS NOT NULL AND LTRIM(RTRIM(GovernorName)) <> '';
GO
