USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[v_PreKvk13_Phase3]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_PreKvk13_Phase3] AS
WITH W AS (
  SELECT StartUTC, EndUTC
  FROM dbo.PreKvk_Phases
  WHERE KVK_NO=13 AND Phase=3
),
B AS ( -- baseline = latest points strictly before phase start
  SELECT a.GovernorID,
         MAX(a.Points) AS Baseline
  FROM dbo.v_PreKvk13_All a
  CROSS JOIN W
  WHERE a.ScanTimestampUTC < W.StartUTC
  GROUP BY a.GovernorID
),
P AS ( -- in-window = max points achieved during the window
  SELECT a.GovernorID,
         MAX(a.Points) AS InWindow
  FROM dbo.v_PreKvk13_All a
  CROSS JOIN W
  WHERE a.ScanTimestampUTC BETWEEN W.StartUTC AND W.EndUTC
  GROUP BY a.GovernorID
)
SELECT COALESCE(p.GovernorID, b.GovernorID) AS GovernorID,
       MAX(COALESCE(p.InWindow, b.Baseline, 0)) - MAX(COALESCE(b.Baseline, 0)) AS DeltaPoints
FROM B b
FULL JOIN P p ON p.GovernorID = b.GovernorID
GROUP BY COALESCE(p.GovernorID, b.GovernorID);
GO
