USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[TT]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TT](
	[Governor ID] [float] NOT NULL,
	[Governor Name] [nchar](255) NULL,
	[Kill Points] [float] NOT NULL,
	[KillPoints] [float] NULL
) ON [PRIMARY]
GO
