USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[GOVS]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOVS](
	[GovernorID] [float] NOT NULL
) ON [PRIMARY]
GO
