USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[vAllianceActivitySnapshots]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vAllianceActivitySnapshots]
AS
SELECT
    r.GovernorID,
    h.SnapshotId,
    h.SnapshotTsUtc,
    h.WeekStartUtc,                          -- Monday 00:00 UTC
    r.BuildingTotal,                         -- weekly cumulative (resets each week)
    r.TechDonationTotal
FROM dbo.AllianceActivitySnapshotRow  r WITH (NOLOCK)
JOIN dbo.AllianceActivitySnapshotHeader h WITH (NOLOCK)
  ON h.SnapshotId = r.SnapshotId;
GO
