USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[INACTIVE_GOVERNORS]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INACTIVE_GOVERNORS](
	[GovernorID] [float] NOT NULL,
	[GovernorName] [nchar](255) NULL,
	[Power] [float] NOT NULL,
	[Inactive_Date] [datetime] NOT NULL,
	[Status] [varchar](19) NOT NULL
) ON [PRIMARY]
GO
