USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[v_RallyTotals_Current]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_RallyTotals_Current]
AS
WITH MaxBase AS (
  SELECT CONVERT(date, MAX(SnapshotAt)) AS Baseline
  FROM dbo.cur_RallyTotals_Base
),
DailyAgg AS (
  SELECT d.GovernorID,
         MAX(d.GovernorName) AS GovernorName,
         SUM(d.TotalRallies)   AS TotalRallies,
         SUM(d.RalliesLaunched) AS RalliesLaunched,
         SUM(d.RalliesJoined)   AS RalliesJoined
  FROM dbo.cur_RallyDaily d
  CROSS JOIN MaxBase mb
  WHERE mb.Baseline IS NULL OR d.AsOfDate > mb.Baseline
  GROUP BY d.GovernorID
),
Base AS (
  SELECT GovernorID, GovernorName, TotalRallies, RalliesLaunched, RalliesJoined
  FROM dbo.cur_RallyTotals_Base
)
SELECT
  COALESCE(d.GovernorID, b.GovernorID)     AS GovernorID,
  COALESCE(d.GovernorName, b.GovernorName) AS GovernorName,
  COALESCE(b.TotalRallies, 0)     + COALESCE(d.TotalRallies, 0)     AS TotalRallies,
  COALESCE(b.RalliesLaunched, 0)  + COALESCE(d.RalliesLaunched, 0)  AS RalliesLaunched,
  COALESCE(b.RalliesJoined, 0)    + COALESCE(d.RalliesJoined, 0)    AS RalliesJoined
FROM DailyAgg d
FULL JOIN Base b ON b.GovernorID = d.GovernorID;
GO
