USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[KVK_Details]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KVK_Details](
	[KVK_NO] [int] NOT NULL,
	[KVK_NAME] [nvarchar](100) NULL,
	[KVK_REGISTRATION_DATE] [date] NULL,
	[KVK_START_DATE] [date] NULL,
	[KVK_END_DATE] [date] NULL,
	[MATCHMAKING_SCAN] [int] NULL,
	[KVK_END_SCAN] [int] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[NEXT_KVK_NO] [int] NULL,
	[MATCHMAKING_START_DATE] [date] NULL,
	[FIGHTING_START_DATE] [date] NULL,
	[PASS4_START_SCAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KVK_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KVK_Details] ADD  CONSTRAINT [DF_KVK_Details_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
