USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[Update_ALL_Complete]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Update_ALL_Complete](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompletionTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Update_ALL_Complete] ADD  DEFAULT (getdate()) FOR [CompletionTime]
GO
