USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[vAllianceActivityWeekFinals]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vAllianceActivityWeekFinals]
AS
WITH Ranked AS (
  SELECT
      s.GovernorID,
      s.WeekStartUtc,
      s.SnapshotTsUtc,
      s.BuildingTotal,
      s.TechDonationTotal,
      ROW_NUMBER() OVER (
          PARTITION BY s.GovernorID, s.WeekStartUtc
          ORDER BY s.SnapshotTsUtc DESC
      ) AS rn
  FROM dbo.vAllianceActivitySnapshots s WITH (NOLOCK)
)
SELECT
    GovernorID,
    WeekStartUtc,
    SnapshotTsUtc AS WeekFinalTsUtc,
    BuildingTotal AS WeekFinalBuildingTotal,
    TechDonationTotal AS WeekFinalTechTotal
FROM Ranked
WHERE rn = 1;
GO
