USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[RALLY_JOINERS]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RALLY_JOINERS](
	[ID] [bigint] NULL,
	[Col1] [nvarchar](max) NULL,
	[Col2] [nvarchar](max) NULL,
	[Col3] [nvarchar](max) NULL,
	[Col4] [nvarchar](max) NULL,
	[Col5] [nvarchar](max) NULL,
	[Col6] [nvarchar](max) NULL,
	[Col7] [nvarchar](max) NULL,
	[Col8] [nvarchar](max) NULL,
	[Col9] [nvarchar](max) NULL,
	[Col10] [nvarchar](max) NULL,
	[Col11] [nvarchar](max) NULL,
	[Col12] [nvarchar](max) NULL,
	[Col13] [nvarchar](max) NULL,
	[Col14] [nvarchar](max) NULL,
	[Col15] [nvarchar](max) NULL,
	[Col16] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
