USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[ALL_GOVS_NAMES]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALL_GOVS_NAMES](
	[GovernorID] [float] NOT NULL,
	[GovernorName] [nchar](255) NULL
) ON [PRIMARY]
GO
