USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[vw_All_Governors_Clean]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_All_Governors_Clean]
AS
SELECT 
    [GovernorID],
    LTRIM(RTRIM([GovernorName])) AS GovernorName
FROM 
    [dbo].[ALL_GOVS]
WHERE 
    GovernorName IS NOT NULL;
GO
