USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[v_PlayerFortsLatestWithRank]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Latest + rank across the kingdom (by total) */
CREATE   VIEW [dbo].[v_PlayerFortsLatestWithRank] AS
WITH L AS (
  SELECT *,
         ROW_NUMBER() OVER (PARTITION BY GovernorID ORDER BY SnapshotAt DESC) AS rn
  FROM dbo.PlayerFortsHistory WITH (NOLOCK)
),
C AS (
  SELECT GovernorID, FortsStarted, FortsJoined, FortsTotal, SnapshotAt
  FROM L WHERE rn = 1
)
SELECT
  C.*,
  RANK() OVER (ORDER BY C.FortsTotal DESC) AS FortsRank
FROM C;
GO
