USE [ROK_TRACKER]
GO
/****** Object:  View [dbo].[v_PlayerKVK_Last3]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_PlayerKVK_Last3]
AS
WITH last3 AS (
    SELECT TOP (3) KVK_NUMBER
    FROM dbo.PlayerKVKHistory
    GROUP BY KVK_NUMBER
    ORDER BY KVK_NUMBER DESC
)
SELECT
    pkh.GovernorID,
    pkh.KVK_NUMBER,
    pkh.KVK_KILL_RANK,
    -- Convert to numeric in case the source sometimes stores 'xx%' as text.
    -- If you prefer the raw value, replace the line below with: pkh.KillPercent
    TRY_CONVERT(decimal(9,2), REPLACE(CONVERT(varchar(50), pkh.KillPercent), '%','')) AS KillPercent
FROM dbo.PlayerKVKHistory AS pkh
INNER JOIN last3 AS l
    ON l.KVK_NUMBER = pkh.KVK_NUMBER;
GO
