USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[PreKvk_Scores]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreKvk_Scores](
	[KVK_NO] [int] NOT NULL,
	[ScanID] [int] NOT NULL,
	[GovernorID] [bigint] NOT NULL,
	[GovernorName] [nvarchar](64) NOT NULL,
	[Points] [int] NOT NULL,
 CONSTRAINT [PK_PreKvk_Scores] PRIMARY KEY CLUSTERED 
(
	[KVK_NO] ASC,
	[ScanID] ASC,
	[GovernorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PreKvk_Scores]  WITH CHECK ADD  CONSTRAINT [FK_PreKvk_Scores_Scan] FOREIGN KEY([KVK_NO], [ScanID])
REFERENCES [dbo].[PreKvk_Scan] ([KVK_NO], [ScanID])
GO
ALTER TABLE [dbo].[PreKvk_Scores] CHECK CONSTRAINT [FK_PreKvk_Scores_Scan]
GO
