USE [ROK_TRACKER]
GO
/****** Object:  StoredProcedure [dbo].[sp_RallyDaily_TopN]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_RallyDaily_TopN]
    @AsOfDate date       = NULL,
    @Metric   nvarchar(16) = N'Total',   -- 'Total' | 'Launched' | 'Joined'
    @TopN     int          = 3
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ResolvedDate date;

    -- If no date supplied, use latest
    IF @AsOfDate IS NULL
        SELECT @ResolvedDate = MAX(AsOfDate) FROM dbo.cur_RallyDaily;
    ELSE
        SET @ResolvedDate = @AsOfDate;

    -- If requested date has no data, fallback to latest
    IF NOT EXISTS (SELECT 1 FROM dbo.cur_RallyDaily WHERE AsOfDate = @ResolvedDate)
        SELECT @ResolvedDate = MAX(AsOfDate) FROM dbo.cur_RallyDaily;

    ;WITH X AS
    (
        SELECT
            GovernorID,
            GovernorName,
            TotalRallies,
            RalliesLaunched,
            RalliesJoined,
            CASE
                WHEN @Metric = N'Launched' THEN RalliesLaunched
                WHEN @Metric = N'Joined'   THEN RalliesJoined
                ELSE TotalRallies
            END AS SortValue
        FROM dbo.cur_RallyDaily
        WHERE AsOfDate = @ResolvedDate
    )
    SELECT TOP (@TopN)
        @ResolvedDate AS AsOfDate,
        GovernorID,
        GovernorName,
        TotalRallies,
        RalliesLaunched,
        RalliesJoined,
        SortValue    AS MetricValue,
        @Metric      AS Metric
    FROM X
    ORDER BY SortValue DESC, GovernorName;
END;
GO
