USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[RALLY_EXPORT]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RALLY_EXPORT](
	[GOVENOR] [nvarchar](4000) NOT NULL,
	[RALLY_LAUNCHED] [int] NOT NULL,
	[RALLY_JOINED] [int] NULL,
	[TOTAL_RALLIES_COMPLETED] [int] NULL
) ON [PRIMARY]
GO
