USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[ALL_GOVS]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALL_GOVS](
	[GovernorID] [bigint] NULL,
	[GovernorName] [nchar](255) NULL,
	[Max Power] [bigint] NULL,
	[Latest Power] [bigint] NULL,
	[KillPoints] [bigint] NULL,
	[T1_Kills] [bigint] NULL,
	[T2_Kills] [bigint] NULL,
	[T3_Kills] [bigint] NULL,
	[T4_Kills] [bigint] NULL,
	[T5_Kills] [bigint] NULL,
	[T4&T5_KILLS] [bigint] NULL,
	[TOTAL_KILLS] [bigint] NULL,
	[Deads] [bigint] NULL,
	[Helps] [bigint] NULL,
	[RSS_Gathered] [bigint] NULL,
	[RSSAssistance] [bigint] NULL,
	[Last Scan] [datetime] NULL,
	[Previous Scan] [datetime] NULL,
	[First Scan] [datetime] NULL
) ON [PRIMARY]
GO
