USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[ALL_STATS_FOR_DASHBAORD]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALL_STATS_FOR_DASHBAORD](
	[Rank] [float] NOT NULL,
	[KVK_RANK] [bigint] NULL,
	[Gov_ID] [float] NULL,
	[Governor_Name] [nvarchar](255) NOT NULL,
	[Starting Power] [float] NOT NULL,
	[Power_Delta] [float] NOT NULL,
	[T4_Kills] [float] NOT NULL,
	[T5_Kills] [float] NOT NULL,
	[T4&T5_Kills] [float] NOT NULL,
	[Kill Target] [float] NOT NULL,
	[% of Kill target] [float] NOT NULL,
	[Deads] [float] NOT NULL,
	[T4_Deads] [float] NOT NULL,
	[T5_Deads] [float] NOT NULL,
	[Dead Target] [float] NOT NULL,
	[% of Dead Target] [float] NOT NULL,
	[Zeroed] [bit] NOT NULL,
	[DKP_SCORE] [float] NOT NULL,
	[DKP Target] [float] NOT NULL,
	[% of DKP Target] [float] NOT NULL,
	[Helps] [float] NOT NULL,
	[RSS_Assist] [float] NOT NULL,
	[RSS_Gathered] [float] NOT NULL,
	[Pass 4 Kills] [float] NOT NULL,
	[Pass 6 Kills] [float] NOT NULL,
	[Pass 7 Kills] [float] NOT NULL,
	[Pass 8 Kills] [float] NOT NULL,
	[Pass 4 Deads] [float] NOT NULL,
	[Pass 6 Deads] [float] NOT NULL,
	[Pass 7 Deads] [float] NOT NULL,
	[Pass 8 Deads] [float] NOT NULL,
	[KVK_NO] [float] NULL,
	[TrainingPower_Delta] [bigint] NULL,
	[HealedPower_Est] [bigint] NULL,
	[HealedTroops_Est] [bigint] NULL
) ON [PRIMARY]
GO
