USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[ProcConfig_Staging]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcConfig_Staging](
	[KVK_NO] [int] NULL,
	[LASTKVKEND] [int] NULL,
	[MATCHMAKING_SCAN] [int] NULL,
	[PRE_PASS_4_SCAN] [int] NULL,
	[PASS4END] [int] NULL,
	[PASS6END] [int] NULL,
	[PASS7END] [int] NULL,
	[KVK_END_SCAN] [int] NULL,
	[CURRENTKVK3] [int] NULL,
	[DRAFTSCAN] [int] NULL
) ON [PRIMARY]
GO
