USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[DeadsDelta]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeadsDelta](
	[GovernorID] [float] NOT NULL,
	[DeltaOrder] [float] NOT NULL,
	[DeadsDelta] [float] NULL
) ON [PRIMARY]
GO
