USE [ROK_TRACKER]
GO
/****** Object:  StoredProcedure [dbo].[TEST]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[TEST]
  AS
  BEGIN


    SELECT GovernorID,
			GovernorName,
           [DEADS],
		   ScanDate,
           ROW_NUMBER() OVER (PARTITION BY GovernorID ORDER BY SCANORDER ASC) AS RowAscALL,
           ROW_NUMBER() OVER (PARTITION BY GovernorID ORDER BY SCANORDER DESC) AS RowDescALL
		   INTO DALL
    FROM KingdomScanData4
	ORDER BY GovernorID
	
	SELECT GovernorID,
           [DEADS],
		   ScanDate,
           ROW_NUMBER() OVER (PARTITION BY GovernorID ORDER BY SCANORDER ASC) AS RowAsc12,
           ROW_NUMBER() OVER (PARTITION BY GovernorID ORDER BY SCANORDER DESC) AS RowDesc12
		   INTO D12
    FROM KingdomScanData4
	WHERE SCANDATE >= DATEADD(month, -12, GETDATE())
	

	SELECT GovernorID,
           [DEADS],
		   ScanDate,
           ROW_NUMBER() OVER (PARTITION BY GovernorID ORDER BY SCANORDER ASC) AS RowAsc6,
           ROW_NUMBER() OVER (PARTITION BY GovernorID ORDER BY SCANORDER DESC) AS RowDesc6
		   INTO D6
    FROM KingdomScanData4
	WHERE SCANDATE >= DATEADD(month, -6, GETDATE())
	
	SELECT GovernorID,
           [DEADS],
		   ScanDate,
           ROW_NUMBER() OVER (PARTITION BY GovernorID ORDER BY SCANORDER ASC) AS RowAsc3,
           ROW_NUMBER() OVER (PARTITION BY GovernorID ORDER BY SCANORDER DESC) AS RowDesc3
		   INTO D3
    FROM KingdomScanData4
	WHERE SCANDATE >= DATEADD(month, -3, GETDATE())
;

DECLARE 
@MAXSCAN AS FLOAT = (SELECT MAX(SCANORDER) FROM KingdomScanData4)

SELECT DISTINCT ([GovernorID]) -- Governor T5_Kills #K TEMP TABLE
		,GovernorName
		,[DEADS]
		INTO #D
		FROM KingdomScanData4
		WHERE SCANORDER = @MAXSCAN

DROP TABLE DEADSSUMMARY

SELECT DALL.GovernorID,
		#D.GovernorName,
		#D.[DEADS],
MAX(CASE WHEN RowAscALL = 1 THEN DALL.[DEADS] END) AS [StartingDEADS],
(MAX(CASE WHEN RowDescALL = 1 THEN DALL.[DEADS] END) - MAX(CASE WHEN RowASCALL = 1 THEN DALL.[DEADS] END)) AS [OverallDEADSDelta],
  (MAX(CASE WHEN RowDesc12 = 1 THEN D12.[DEADS] END) - MAX(CASE WHEN RowASC12 = 1 THEN D12.[DEADS] END)) AS [DEADSDelta12Months],
  (MAX(CASE WHEN RowDesc6 = 1 THEN D6.[DEADS] END) - MAX(CASE WHEN RowASC6 = 1 THEN D6.[DEADS] END)) AS [DEADSDelta6Months],
  (MAX(CASE WHEN RowDesc3 = 1 THEN D3.[DEADS] END) - MAX(CASE WHEN RowASC3 = 1 THEN D3.[DEADS] END)) AS [DEADSDelta3Months]
  INTO DEADSSUMMARY
FROM DALL
JOIN #D on DALL.GovernorID=#D.GovernorID
JOIN D12 ON DALL.GovernorID=D12.GovernorID
JOIN D6 ON D12.GovernorID=D6.GovernorID
JOIN D3 ON D6.GovernorID=D3.GovernorID
GROUP BY DALL.GovernorID, #D.GovernorName, #D.[DEADS]
ORDER BY #D.GovernorName ASC;

--SELECT *
--FROM DEADSSUMMARY
--ORDER BY GovernorName

DROP TABLE DALL, D12, D6, D3
DROP TABLE #D

END;

GO
