USE [ROK_TRACKER]
GO
/****** Object:  Table [dbo].[AllianceActivitySnapshotHeader]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllianceActivitySnapshotHeader](
	[SnapshotId] [bigint] IDENTITY(1,1) NOT NULL,
	[SnapshotTsUtc] [datetime2](0) NOT NULL,
	[WeekStartUtc] [datetime2](0) NOT NULL,
	[SourceMessageId] [bigint] NULL,
	[SourceChannelId] [bigint] NULL,
	[SourceFileName] [nvarchar](128) NOT NULL,
	[SourceFileSha1] [varbinary](20) NULL,
	[Row_Count] [int] NULL,
	[CreatedUtc] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SnapshotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AllianceActivitySnapshotHeader_WeekSha1] UNIQUE NONCLUSTERED 
(
	[WeekStartUtc] ASC,
	[SourceFileSha1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AllianceActivitySnapshotHeader] ADD  CONSTRAINT [DF_AllActHdr_CreatedUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedUtc]
GO
