USE [ROK_TRACKER]
GO
/****** Object:  View [KVK].[vw_FightingDataset]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [KVK].[vw_FightingDataset] AS
WITH W AS (
  SELECT KVK_NO, WindowName
  FROM KVK.KVK_Windows
  WHERE StartScanID IS NOT NULL
)
SELECT p.*
FROM KVK.KVK_Player_Windowed p
JOIN W ON W.KVK_NO = p.KVK_NO
     AND W.WindowName = p.WindowName;
GO
