USE [ROK_TRACKER]
GO
/****** Object:  Table [KVK].[KVK_Scan]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KVK].[KVK_Scan](
	[KVK_NO] [int] NOT NULL,
	[ScanID] [int] NOT NULL,
	[ScanTimestampUTC] [datetime2](0) NOT NULL,
	[SourceFileName] [nvarchar](255) NOT NULL,
	[FileHash] [varbinary](32) NOT NULL,
	[Row_Count] [int] NOT NULL,
	[ImportedAtUTC] [datetime2](0) NOT NULL,
	[UploaderDiscordID] [bigint] NULL,
 CONSTRAINT [PK_KVK_Scan] PRIMARY KEY CLUSTERED 
(
	[KVK_NO] ASC,
	[ScanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_KVK_Scan_File] UNIQUE NONCLUSTERED 
(
	[KVK_NO] ASC,
	[ScanTimestampUTC] ASC,
	[FileHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [KVK].[KVK_Scan] ADD  CONSTRAINT [DF_KVK_Scan_ImportedAtUTC]  DEFAULT (sysutcdatetime()) FOR [ImportedAtUTC]
GO
