USE [ROK_TRACKER]
GO
/****** Object:  Table [KVK].[KVK_Player_Baseline]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KVK].[KVK_Player_Baseline](
	[KVK_NO] [int] NOT NULL,
	[governor_id] [bigint] NOT NULL,
	[baseline_scan_id] [int] NOT NULL,
	[starting_power] [bigint] NOT NULL,
 CONSTRAINT [PK_KVK_Player_Baseline] PRIMARY KEY CLUSTERED 
(
	[KVK_NO] ASC,
	[governor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
