USE [ROK_TRACKER]
GO
/****** Object:  Table [KVK].[KVK_Windows]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KVK].[KVK_Windows](
	[KVK_NO] [int] NOT NULL,
	[WindowName] [nvarchar](40) NOT NULL,
	[WindowSeq] [tinyint] NULL,
	[StartScanID] [int] NULL,
	[EndScanID] [int] NULL,
	[Notes] [nvarchar](200) NULL,
	[UpdatedAtUTC] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_KVK_Windows] PRIMARY KEY CLUSTERED 
(
	[KVK_NO] ASC,
	[WindowName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [KVK].[KVK_Windows] ADD  CONSTRAINT [DF_Windows_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUTC]
GO
ALTER TABLE [KVK].[KVK_Windows]  WITH CHECK ADD  CONSTRAINT [CK_KVK_Windows_EndGteStart] CHECK  (([EndScanID] IS NULL OR [StartScanID] IS NULL OR [EndScanID]>=[StartScanID]))
GO
ALTER TABLE [KVK].[KVK_Windows] CHECK CONSTRAINT [CK_KVK_Windows_EndGteStart]
GO
ALTER TABLE [KVK].[KVK_Windows]  WITH CHECK ADD  CONSTRAINT [CK_KVK_Windows_ScanRange] CHECK  (([StartScanID] IS NULL OR [StartScanID]>=(1)))
GO
ALTER TABLE [KVK].[KVK_Windows] CHECK CONSTRAINT [CK_KVK_Windows_ScanRange]
GO
