USE [ROK_TRACKER]
GO
/****** Object:  StoredProcedure [KVK].[sp_KVK_Get_Exports]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [KVK].[sp_KVK_Get_Exports]
    @KVK_NO INT
AS
BEGIN
    SET NOCOUNT ON;

    ----------------------------------------------------------------
    -- 1) KVK_Scan_Log
    ----------------------------------------------------------------
    SELECT
        KVK_NO,
        ScanID,
        ScanTimestampUTC,
        SourceFileName,
        Row_Count,               -- note: your column rename
        ImportedAtUTC,
        UploaderDiscordID
    FROM KVK.KVK_Scan
    WHERE KVK_NO = @KVK_NO
    ORDER BY ScanID;

    ----------------------------------------------------------------
    -- 2) KVK_Windows (effective end also shown)
    ----------------------------------------------------------------
    DECLARE @MaxScanID INT = (SELECT MAX(ScanID) FROM KVK.KVK_Scan WHERE KVK_NO=@KVK_NO);

    SELECT
        KVK_NO,
        WindowName,
        WindowSeq,
        StartScanID,
        EndScanID,
        COALESCE(EndScanID, @MaxScanID) AS EffectiveEndScanID,
        Notes,
        UpdatedAtUTC
    FROM KVK.KVK_Windows
    WHERE KVK_NO = @KVK_NO
    ORDER BY ISNULL(WindowSeq, 255), WindowName;

    ----------------------------------------------------------------
    -- 3) KVK_DKP_Weights (latest first)
    ----------------------------------------------------------------
    SELECT
        KVK_NO,
        WeightT4X,
        WeightT5Y,
        WeightDeadsZ,
        EffectiveFromUTC
    FROM KVK.KVK_DKPWeights
    WHERE KVK_NO = @KVK_NO
    ORDER BY EffectiveFromUTC DESC;

    ----------------------------------------------------------------
    -- 4) Player Windowed (all windows including Baseline/Full)
    ----------------------------------------------------------------
    SELECT
        KVK_NO, WindowName, governor_id, name, kingdom, campid,
        kp_gain, kp_gain_recalc, kills_gain, t4_kills, t5_kills,
        kp_loss, healed_troops, deads, starting_power, dkp,
        last_scan_id, computed_at_utc
    FROM KVK.KVK_Player_Windowed
    WHERE KVK_NO = @KVK_NO
    ORDER BY WindowName, dkp DESC;

    ----------------------------------------------------------------
    -- 5) Kingdom Windowed
    ----------------------------------------------------------------
	SELECT
		KVK_NO, WindowName, kingdom, campid, camp_name,
		kp_gain, kills_gain, t4_kills, t5_kills,
		kp_loss, healed_troops, deads, dkp,
		last_scan_id, computed_at_utc
	FROM KVK.KVK_Kingdom_Windowed
	WHERE KVK_NO = @KVK_NO
	ORDER BY WindowName, dkp DESC;

    ----------------------------------------------------------------
    -- 6) Camp Windowed
    ----------------------------------------------------------------
    SELECT
        KVK_NO, WindowName, campid, camp_name,
        kp_gain, kills_gain, t4_kills, t5_kills,
        kp_loss, healed_troops, deads, dkp,
        last_scan_id, computed_at_utc
    FROM KVK.KVK_Camp_Windowed
    WHERE KVK_NO = @KVK_NO
    ORDER BY WindowName, dkp DESC;

    ----------------------------------------------------------------
    -- 7) Player Full
    ----------------------------------------------------------------
    SELECT
        *
    FROM KVK.KVK_Player_Windowed
    WHERE KVK_NO = @KVK_NO AND WindowName = N'Full'
    ORDER BY dkp DESC;

    ----------------------------------------------------------------
    -- 8) Kingdom Full
    ----------------------------------------------------------------
    SELECT
        *
    FROM KVK.KVK_Kingdom_Windowed
    WHERE KVK_NO = @KVK_NO AND WindowName = N'Full'
    ORDER BY dkp DESC;

    ----------------------------------------------------------------
    -- 9) Camp Full
    ----------------------------------------------------------------
    SELECT
        *
    FROM KVK.KVK_Camp_Windowed
    WHERE KVK_NO = @KVK_NO AND WindowName = N'Full'
    ORDER BY dkp DESC;

    ----------------------------------------------------------------
    -- 10) Negative Corrections (all for this KVK)
    ----------------------------------------------------------------
    SELECT
        KVK_NO, ScanID, governor_id, name, kingdom, campid,
        field_name, value, recorded_at_utc
    FROM KVK.KVK_Ingest_Negatives
    WHERE KVK_NO = @KVK_NO
    ORDER BY ScanID, governor_id, field_name;
END
GO
