USE [ROK_TRACKER]
GO
/****** Object:  Table [KVK].[KVK_AllPlayers_Stage]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KVK].[KVK_AllPlayers_Stage](
	[IngestToken] [uniqueidentifier] NOT NULL,
	[row_no] [int] IDENTITY(1,1) NOT NULL,
	[governor_id] [bigint] NOT NULL,
	[name] [nvarchar](64) NULL,
	[kingdom] [int] NOT NULL,
	[campid] [tinyint] NULL,
	[min_points] [bigint] NULL,
	[max_points] [bigint] NULL,
	[points_difference] [bigint] NULL,
	[min_power] [bigint] NULL,
	[max_power] [bigint] NULL,
	[power_difference] [bigint] NULL,
	[first_updateUTC] [datetime2](0) NULL,
	[last_updateUTC] [datetime2](0) NULL,
	[latest_power] [bigint] NULL,
	[kill_points_diff] [bigint] NULL,
	[power_diff] [bigint] NULL,
	[dead_diff] [bigint] NULL,
	[troop_power_diff] [bigint] NULL,
	[max_units_healed_diff] [bigint] NULL,
	[healed_troops] [bigint] NULL,
	[kills_iv_diff] [bigint] NULL,
	[kills_v_diff] [bigint] NULL,
	[subscription_level] [tinyint] NULL
) ON [PRIMARY]
GO
