USE [ROK_TRACKER]
GO
/****** Object:  Table [KVK].[KVK_CampMap]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KVK].[KVK_CampMap](
	[KVK_NO] [int] NOT NULL,
	[Kingdom] [int] NOT NULL,
	[CampID] [tinyint] NOT NULL,
	[CampName] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_KVK_CampMap] PRIMARY KEY CLUSTERED 
(
	[KVK_NO] ASC,
	[Kingdom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [KVK].[KVK_CampMap]  WITH CHECK ADD  CONSTRAINT [CK_KVK_CampMap_CampID] CHECK  (([CampID]>=(1) AND [CampID]<=(8)))
GO
ALTER TABLE [KVK].[KVK_CampMap] CHECK CONSTRAINT [CK_KVK_CampMap_CampID]
GO
