USE [ROK_TRACKER]
GO
/****** Object:  Table [KVK].[KVK_Ingest_Negatives]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KVK].[KVK_Ingest_Negatives](
	[KVK_NO] [int] NOT NULL,
	[ScanID] [int] NOT NULL,
	[governor_id] [bigint] NOT NULL,
	[name] [nvarchar](64) NULL,
	[kingdom] [int] NOT NULL,
	[campid] [tinyint] NULL,
	[field_name] [nvarchar](40) NOT NULL,
	[value] [bigint] NOT NULL,
	[recorded_at_utc] [datetime2](0) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [KVK].[KVK_Ingest_Negatives] ADD  CONSTRAINT [DF_KVK_Negatives_RecordedAt]  DEFAULT (sysutcdatetime()) FOR [recorded_at_utc]
GO
