USE [ROK_TRACKER]
GO
/****** Object:  Table [KVK].[KVK_DKPWeights]    Script Date: 13/11/2025 16:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KVK].[KVK_DKPWeights](
	[KVK_NO] [int] NOT NULL,
	[WeightT4X] [float] NOT NULL,
	[WeightT5Y] [float] NOT NULL,
	[WeightDeadsZ] [float] NOT NULL,
	[EffectiveFromUTC] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_KVK_DKPWeights] PRIMARY KEY CLUSTERED 
(
	[KVK_NO] ASC,
	[EffectiveFromUTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [KVK].[KVK_DKPWeights] ADD  CONSTRAINT [DF_Weights_Eff]  DEFAULT (sysutcdatetime()) FOR [EffectiveFromUTC]
GO
