USE [ROK_TRACKER]
GO
/****** Object:  Table [KVK].[KVK_Player_Windowed]    Script Date: 13/11/2025 16:55:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KVK].[KVK_Player_Windowed](
	[KVK_NO] [int] NOT NULL,
	[WindowName] [nvarchar](40) NOT NULL,
	[governor_id] [bigint] NOT NULL,
	[name] [nvarchar](64) NULL,
	[kingdom] [int] NOT NULL,
	[campid] [tinyint] NULL,
	[kp_gain] [bigint] NOT NULL,
	[kp_gain_recalc] [bigint] NOT NULL,
	[kills_gain] [bigint] NOT NULL,
	[t4_kills] [bigint] NOT NULL,
	[t5_kills] [bigint] NOT NULL,
	[kp_loss] [bigint] NOT NULL,
	[healed_troops] [bigint] NOT NULL,
	[deads] [bigint] NOT NULL,
	[starting_power] [bigint] NOT NULL,
	[dkp] [float] NOT NULL,
	[last_scan_id] [int] NOT NULL,
	[computed_at_utc] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_KVK_Player_Windowed] PRIMARY KEY CLUSTERED 
(
	[KVK_NO] ASC,
	[WindowName] ASC,
	[governor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [KVK].[KVK_Player_Windowed] ADD  CONSTRAINT [DF_PlayerWin_At]  DEFAULT (sysutcdatetime()) FOR [computed_at_utc]
GO
